[project]
name = "nonebot-plugin-bf1marneserverlist"
version = "0.1.1"
description = "nonebot-plugin-bf1marneserverlist"
readme = "README.md"
requires-python = ">=3.8, <4.0"

[tool.nonebot]
adapters = [
    { name = "OneBot V11", module_name = "nonebot.adapters.onebot.v11" }
]
dependencies = ["nonebot2>=2.0.0", "nonebot-adapter-onebot>=2.1.5","requests>=2.31.0"]
plugins = []
plugin_dirs = ["nonebot_plugin_bf1marneserverlist/plugins"]
builtin_plugins = []
